<div
  style="display: flex; flex-direction: column; height: 100%; width: 86.4%;"
  *ngIf="!result"
>
  <div name="title" class="row">
    <div class="col-12 d-flex justify-content-center text-center">
      <h1>Pantalla de Configuración</h1>
    </div>
  </div>
  <div name="body" class="body">
    <form [formGroup]="trainers" class="form-style">
      <div
        class="form-group"
        *ngFor="let control of trainers.controls"
        style="
          display: flex;
          width: 100%;
          flex-direction: column;
          border-bottom: 1px solid;
        "
      >
        <form [formGroup]="control" style="margin-right: 1%; margin-left: 1%;">
          <label for="exampleInputEmail1"
            >Entrenador {{ control.get("id").value }}</label
          >
          <div class="form-group row">
            <label for="Name" class="col-sm-1 col-form-label">Nombre</label>
            <div class="col-sm-3">
              <input
                type="text"
                class="form-control"
                id="name"
                aria-describedby="name"
                formControlName="name"
              />
            </div>
            <label for="Name" class="col-sm-1 col-form-label">Valoración</label>
            <div class="col-sm-3">
              <input
                type="text"
                class="form-control"
                id="reputation"
                aria-describedby="reputation"
                formControlName="reputation"
              />
            </div>
            <label for="Name" class="col-sm-1 col-form-label"
              >Plazas disponibles</label
            >
            <div class="col-sm-3">
              <input
                type="text"
                class="form-control"
                id="name"
                aria-describedby="name"
                formControlName="available"
              />
            </div>
          </div>
        </form>
      </div>
    </form>
    <div>
      <div class="text-right" style="padding: 1%;">
        <button
          stlye="margin-right: 2% !important;"
          (click)="addTraner()"
          type="button"
          class="btn btn-primary"
        >
          Añadir entrenador
        </button>
      </div>
    </div>
    <div>
      <div
        class="text-center"
        style="padding: 1%; display: flex; justify-content: space-evenly;"
      >
        <button (click)="showClients()" type="button" class="btn btn-primary">
          Ver tabla clientes
        </button>
        <button
          (click)="generateAssassignment()"
          type="button"
          class="btn btn-primary"
        >
          Calcular resultados
        </button>
      </div>
    </div>
  </div>
</div>

<mat-tab-group mat-align-tabs="start" *ngIf="result">
  <mat-tab label="Entrenadores">
    <div
      style="display: flex; flex-direction: column; height: 100%; width: 86.4%;"
    >
      <div name="title" style="display: flex;">
        <div
          style="
            display: flex;
            width: 100%;
            justify-content: center;
            font-size: 16px;
            align-items: center;
          "
        >
          Pantalla de resultados
        </div>
        <div
          (click)="result = false"
          style="
            font-size: 24px;
            margin: 1%;

            align-self: center;
          "
        >
          <i class="fas fa-arrow-circle-left"></i>
        </div>
      </div>

      <div class="body-card">
        <div class="carInfo" *ngFor="let item of resultData">
          <div class="car-title hf-color">
            <div>Entrenador {{ item.trainer.id }}</div>
            <div
              tooltip="<b>Valoración:</b> {{
                item.trainer.reputation
              }} <br> <b>Max clientes: </b>{{ item.trainer.available }}"
            >
              <i class="fas fa-info-circle"></i>
            </div>
          </div>
          <div class="car-body">
            <label>{{ item.trainer.name }}</label>
            <div>Clientes asignados:</div>
            <div *ngFor="let client of item.clients">
              {{ client.name }}
            </div>
          </div>
          <div class="hf-color">
            {{ item.clients.length }} clientes asignados
          </div>
        </div>
        <div class="carInfo" *ngFor="let item of resultData">
          <div class="car-title hf-color">
            <div>Entrenador {{ item.trainer.id }}</div>
            <div
              tooltip="<b>Valoración:</b> {{
                item.trainer.reputation
              }} <br> <b>Max clientes: </b>{{ item.trainer.available }}"
            >
              <i class="fas fa-info-circle"></i>
            </div>
          </div>
          <div class="car-body">
            <label>{{ item.trainer.name }}</label>
            <div>Clientes asignados:</div>
            <div *ngFor="let client of item.clients">
              {{ client.name }}
            </div>
          </div>
          <div class="hf-color">
            {{ item.clients.length }} clientes asignados
          </div>
        </div>
        <div class="carInfo" *ngFor="let item of resultData">
          <div class="car-title hf-color">
            <div>Entrenador {{ item.trainer.id }}</div>
            <div
              tooltip="<b>Valoración:</b> {{
                item.trainer.reputation
              }} <br> <b>Max clientes: </b>{{ item.trainer.available }}"
            >
              <i class="fas fa-info-circle"></i>
            </div>
          </div>
          <div class="car-body">
            <label>{{ item.trainer.name }}</label>
            <div>Clientes asignados:</div>
            <div *ngFor="let client of item.clients">
              {{ client.name }}
            </div>
          </div>
          <div class="hf-color">
            {{ item.clients.length }} clientes asignados
          </div>
        </div>
        <div class="carInfo" *ngFor="let item of resultData">
          <div class="car-title hf-color">
            <div>Entrenador {{ item.trainer.id }}</div>
            <div
              tooltip="<b>Valoración:</b> {{
                item.trainer.reputation
              }} <br> <b>Max clientes: </b>{{ item.trainer.available }}"
            >
              <i class="fas fa-info-circle"></i>
            </div>
          </div>
          <div class="car-body">
            <label>{{ item.trainer.name }}</label>
            <div>Clientes asignados:</div>
            <div *ngFor="let client of item.clients">
              {{ client.name }}
            </div>
          </div>
          <div class="hf-color">
            {{ item.clients.length }} clientes asignados
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Valoración del conjunto">
    <div
      style="
        display: flex;
        flex-direction: column;
        overflow: hidden;
        width: 85%;
        margin: 1%;
      "
    >
      <p>
        Para esta unir a clientes con sus respectivos entrenadores hemos tenido
        en cuenta lo siguiente:
      </p>
      <p>
        - La importacion que tiene para el cliente el tener un entrenador mejor
        o peor (Esta importancia la hemos tenido en cuneta como si fuese dinero
        cuan mas importante mas dinero pagara).
      </p>
      <p>
        - La valoracion del entrendor (Esta valorcioón la hemos tomado como una
        valaracion que la gente le da a dicho entrenador).
      </p>
      <p>
        - Es posible que haya entrenadores que no tenga asignados clientes. Pero
        como hemos comentado antes cuanto más pague un cliente se le intentara
        dar el mejor entrenador disponible.
      </p>
      <p>
        - Por otro lado puede surguir una problematica y es que se venga un
        cliente nuevo que pague mucho más dinero que otro y solo tengamos
        entrenadores malos. Este problema no esta planteado en el enunciado
        segun lo interpreato pero lo que hariamos seria redefinir la asignación
        que con el sistema actual se podria hacer o decirle al cliente que ahora
        mismo solo nos quedan entrenadores con X valoración
      </p>
    </div>
  </mat-tab>
</mat-tab-group>
